#file log project
log/*.*
test/log/*.*
test/file_test/*.*

#build dir
build

#file costruction ide
CMakeFiles/
cmake-build-debug/
.idea/
/CMakeCache.txt
*.cmake

#file big
benchmark/file

build-benchmark-Desktop-Default/

build-benchmark-Desktop-Release/

CMakeLists.txt.user
