[submodule "include/cpp-properties"]
	path = include/cpp-properties
	url = https://github.com/vincenzopalazzo/cpp-properties.git
[submodule "include/rapidjson"]
	path = include/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "include/bitcoin-cryptography-library"]
	path = include/bitcoin-cryptography-library
	url = https://github.com/vincenzopalazzo/Bitcoin-Cryptography-Library.git
