#file log project
log/*.*
test/log/*.*
test/file_test/*.*

#build dir
build
bin

#file costruction ide
CMakeFiles/
cmake-build-debug/
.idea/
/CMakeCache.txt
*.cmake

#file big
benchmark/file

build-benchmark-Desktop-Default/

build-benchmark-Desktop-Release/

CMakeLists.txt.user

build-test-Desktop-Debug/

#bin 
*.tar.gz

test/CMakeCache.txt

test/Makefile
