[submodule "include/cpp-properties"]
	path = include/cpp-properties
	url = https://github.com/vincenzopalazzo/cpp-properties.git
[submodule "include/bitcoin-cryptography-library"]
	path = include/bitcoin-cryptography-library
	url = https://github.com/vincenzopalazzo/Bitcoin-Cryptography-Library.git
[submodule "include/spycblockrpc"]
	path = include/spycblockrpc
	url = https://github.com/vincenzopalazzo/SpyCBlockRPC.git