[submodule "include/cpp-properties"]
	path = include/cpp-properties
	url = https://github.com/vincenzopalazzo/cpp-properties.git
[submodule "include/rapidjson"]
	path = include/rapidjson
	url = https://github.com/Tencent/rapidjson.git